
.vacancyCard{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 450px;
    height: 200px;
    border: black solid 1px;
    background-color: lightgrey;
    border-radius: 10px;
    margin: 10px;
    padding-left: 15px;
    cursor: pointer;
}
.description{
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Ограничиваем количество строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Добавляем многоточие */
    flex: 1;
}