.page{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 10px;
    width: 100vw;
}

.logoAdnDataContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    margin-top: 20px;
}

.mainDataContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 100%;
}

.titleAndRate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 85vw;
}

.star{
    color: gold;
}

.title {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: start;
    gap: 10px;
}

.buttonContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.feedbackContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95%;
}